<!DOCTYPE html>
<html lang="en">
<style>
    .lead{
        font-size:1.25rem;
        font-weight:300
    }
</style>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SF ToDo About</title>
</head>
<body style="background-color: black; color: white;">
<nav class="blue">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">&nbsp;&nbsp;SF Todo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li aria-disabled="true" class="active text-darken-2"><a>About</a></li>
      </ul>
    </div>
</nav>
<p class="lead">&nbsp;&nbsp;&nbsp;This app is like Google Tasks. It helps you to manage your tasks online. This was written using the Flask Framework for Python. </p>
<p class="lead">&nbsp;&nbsp;&nbsp;To learn more, go to <a target="_blank" href="https://flask.palletsprojects.com/en/2.0.x/">Flask</a> Documentation.</p>
<br>
<br>
<p class="lead">&nbsp;&nbsp;&nbsp;The Android App: <a href="./SFTodo.apk" download>Download APK (For Android)</a></p>
<hr>
<h2>&nbsp;&nbsp;&nbsp;Upgrades</h2>
&nbsp;&nbsp;Version: 3.0.1<br><br>
&nbsp;&nbsp;1. New APK without signup<br>
&nbsp;&nbsp;2. Better HTML Testing<br>
&nbsp;&nbsp;3. More Beautiful Design<br>
&nbsp;&nbsp;4. Better Backend Failure Management<br>
&nbsp;&nbsp;5. Fixed Many Bugs<br>
&nbsp;&nbsp;6. Restart Database<br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>